name: CI
env:
  PRIVATE_KEY: '0xafdfd9c3d2095ef696594f6cedcae59e72dcd697e2a7521b1578140422a4f890' # This is a test private key
  TESTNET_HUB_URL: "https://testnet.hub.snapshot.org/graphql"
  HUB_URL: "https://hub.snapshot.org/graphql"
  SEPOLIA_SUBGRAPH_URL: "https://api.thegraph.com/subgraphs/name/snapshot-labs/boost-sepolia"
  MAINNET_SUBGRAPH_URL: "https://api.thegraph.com/subgraphs/name/pscott/boost-mainnet"
  BOOST_NAME: "boost"
  BOOST_VERSION: "1"
  VERIFYING_CONTRACT: "0x506661e5921f2c74b56eb380936f6e197c6cf49c"

# This workflow run tests and build for each push

on:
  push:
    branches:
      - main
      - master
  pull_request:


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version          

      - name: Lint
        run: |
          cargo fmt -- --check
          cargo clippy -- -D warnings -D clippy::perf

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version

      - name: Test
        run: |
          cargo check
          cargo test --all          

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version

      - name: Build
        run: |
          cargo build